.footer-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content:space-between;
}

.footer-description {
    font-size: 14px;
    font-family: barlow-medium,barlow,sans-serif;
    color: rgb(145, 119, 57);
}

.footer-minidesc {
    font-size: 10px;
    
    margin-bottom: 10px;
}

.footer-bottom {
    /* height: 100px; */
    text-align: center;
}

.footer-social {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: black;
}

.footer-social a {
    background-color: transparent;
    color: black;
}

.footer-social svg:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.footer-social-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    width: 80vw;
    align-items: center;
    padding: 10px;
}